/* Custom properties */
:root {
  --main-color: green;
  --header-font-size: 48px;
  --section-font-size: 24px;
  --footer-font-size: 36px;
  --header-height: 5rem;
  --header-width: 50%;
  --animation-duration: 2s;
}

/* Partie 1 */
header, footer {
  color: var(--main-color);
}

/* Assurer un contraste suffisant */
header, footer {
  background-color: #f5f5f5;
}

/* Bordures */
header, footer, .section {
  border: 2px solid var(--main-color);
}

/* Echelle d'espace */
header, footer, .section {
  padding: 1rem;
}

/* Partie 2 */
header {
  font-size: var(--header-font-size);
}

.section {
  font-size: var(--section-font-size);
}

footer {
  font-size: var(--footer-font-size);
}

/* Borner la font-size */
header {
  font-size: clamp(80,32);
}

/* Partie 3 */
header {
  height: var(--header-height);
  width: var(--header-width);
}

footer {
  direction: rtl;
}
